@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');

#drop {
    position: fixed;
    bottom: 4px;
    z-index: 1000;
    background: none;
}
.info-btn {
    background: none; 
    border: 0;
    background-image: none;
}
.info-btn img {
    width: 20px;
    height: auto;
}

:root {
    --bg: #000000;
    --header: #000000;
    --btn_text_high: #838383;
    --btn_text: white;
    --color2: #fff41c;
    --red: #ea3b3b;
}
html {
    background-color: black;
}
header {
    width: 100%;
    height: 13vh;
    background-color: var(--header);
    display: flex;
    gap: 10%;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 100;
}
body {
    margin: 0;
    background-color: var(--bg);
}

.home-logo {
    width: auto;
    height: 13vh;
    display: inline;
}
.home-text {
    display: inline;
    color: white;
    font-family: "Cal Sans";
    font-size: 25px;
    margin-right: 30px;
}
.button-links {
    display: flex;
    gap: 5px;
}
.button-links a img {
    height: auto;
    width: 30px;
}
.home {
    display: flex;
    margin-right: 10vw;
    margin-left: 1vw;
    align-items: center;
    gap: 10px;
}
.buttons {
    display: flex;
    gap: 5%;
}

.home-button {
    background-color: var(--header);
    height: 13vh;
    width: 11vw;
    border: 0;
    color: var(--btn_text);
    transition: background-color 0.3s;
    font-size: 20px;
}
.home-button:hover {
    background-color: #242424;
}

/* center info */
.center-info {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 62vh;
    background-image: url('bgbanner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.center-title {
    color: var(--btn_text);
    font-size: 60px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}
.center-texts {
    margin-top: 3vmin;
    text-align: center;
}
.center-subtext {
    color: var(--color2);
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}
.center-img {
    width: 30vmin;
    height: auto;
    vertical-align: middle;
}

/* about us*/
.about-us {
    height: 550px;
    width: 100%;
    background-color: #e0bb00;
    padding: 20px;
    padding-left: 5vw;
    color: rgb(18, 18, 18);
    display: flex;
    align-items: center;
    gap: 13%;
}

.about-us-title {
    margin: 0;
    font-family: "Cal Sans", sans-serif;
    font-size: 6vmin;
    font-weight: 100;
    margin-bottom: 10px;
}

.about-us-desc {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 2.3vmin;
}

.about-us-img {
    width: 40%;
    height: auto;
    border: 5px solid black;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: rgba(1,1,1,0.5);
    width: 4px;
}


#carouselExample {
    width: 100%;
    margin: auto;
}

/* Meet the team */
.meet-the-team {
    text-align: center;
    font-size: 50px;
    font-family: "Cal Sans", sans-serif;
    color: black;
}
.meet-container {
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: rgb(240, 58, 58);
}



.carousel-item img {
    margin: auto;
}

.cText {
    text-align: center;
}

/*Contact us*/
.contact {
    background-color: #e0bb00;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5%;
    color: black;
}

.contact-title {
    margin-top: 5%;
    font-family: "Cal Sans", sans-serif;
}
.contact-form {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
.contact-form input {
    margin: 0;
    border: 0;
}
.subtitle {
    margin-bottom: 3%;
}

.stats-button {
    color:aqua;
}

.submit-button {
    background-color: #dbdbdb;
    border: 0;
    width: 9em;
    height: 2.8em;
    border: 2px solid #3a2222;
    transition: background-color 0.3s ease;
}
.submit-button:hover {
    background-color: #93c99d;
}
.leftover {
    margin: 0;
    width: 100%;
    height: 15vh;
    background-color: #e0bb00;
}