@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

:root {
    --bg: #000000;
    --header: #000000;
    --btn_text_high: #838383;
    --btn_text: white;
    --color2: #fff41c;
}

header {
    width: 100%;
    height: 13vh;
    background-color: var(--header);
    display: flex;
    gap: 10%;
    align-items: center;
    justify-content: center;
}
body {
    margin: 0;
    background-color: var(--bg);
}

.home-logo {
    width: auto;
    height: 13vh;
    display: inline;
}
.home-text {
    display: inline;
    color: var(--btn_text)
}
.home {
    display: flex;
    margin-right: 10vw;
    margin-left: 1vw;
    align-items: center;
    gap: 10px;
}
.buttons {
    display: flex;
    gap: 5%;
}

.home-button {
    background-color: var(--header);
    height: 13vh;
    width: 11vw;
    border: 0;
    color: var(--btn_text);
    transition: background-color 0.3s;
    font-size: 20px;
}
.home-button:hover {
    background-color: #242424;
}

/* center info */
.center-info {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 30vh;
    background-image: url('bgbanner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.center-title {
    color: var(--btn_text);
    font-size: 60px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}
.center-texts {
    margin-top: 3vmin;
    text-align: center;
}
.center-subtext {
    color: var(--color2);
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}
.center-img {
    width: 30vmin;
    height: auto;
    vertical-align: middle;
}

/* about us*/
.about-us {
    height: 40vh;
    width: 100%;
    background-color: #e0bb00;
    padding: 20px;
    padding-left: 5vw;
    color: rgb(18, 18, 18);
}

.about-us-title {
    margin: 0;
    font-family: "Titan One", sans-serif;
    font-size: 40px;
    font-weight: 100;
}